/* round images */
.round-image {
    border-radius: 50%;
    margin:8px;
}

/* header */
.header {
    position: relative;
    background-color: #ffffff;
    padding-top: 20px;
    line-height: 1.4em;
    justify-content: space-around;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 50px auto;
}

/* Hide the images by default */
.hide {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* navigation related */

.box {
    padding:10px;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    font-size: 20px;
    line-height: 1.4em;
    border: 2px solid white;
    border-radius: 10px;
}

a:visited {
    color:black;
}
a:hover {
    background-color: cadetblue;
}
.active {
    background-color: cadetblue;
}

/* for readiblility reasons */
p {
    max-width: 75ch;
    font-size: 20px;
    line-height: 1.4em;
}

.flex-row-container{
    display: flex;
    flex-direction: row;
}

.flex-column-container{
    display: flex;
    flex-direction: column;
}

.main-aside-container main{
    padding:14px;
    width:77%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-aside-container aside{
    padding: 14px;
    width: 33%;
}


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.flex-container{
    display:flex;
}

.full {
    width: 100%;
}

/* gallery */
.gallery {
    padding: 10px;
    margin:5px;
    width:77%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery > * {
    width: 30%;
    margin:5px;
    border: 2px solid grey;

}

.gallery-filters{
    width:20%;
}

h4 {
    margin:3px;
}

.noselect {
    user-select: none;
}

/* archive on index */

#archive {
    list-style-type: none;
    margin:10;
    padding: 10;
}


.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.expand {
    display: block;
    text-decoration: none;
    list-style-type: none;
}



  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .nav-container {        
        display:flex;
        z-index: 1000;
        flex-direction: column;
        justify-content: center;
        color:white;
    }
    .main-aside-container {
        display: flex;
        flex-direction: column;
    }

    
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (min-width: 600px) {
    .nav-container {
        display:flex;
        z-index: 1000;
        width: 100%;
        margin-bottom:5px;
        flex-direction: row;
        justify-content: center;
        background-color: white;
    }
  }

  /* contact us page */
  /* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
